extends layout

block content
  h2.text-3xl.mb-10 Lisa uus liige
  form(action=`/add-member` method="POST")
    div.my-2
      label(for="name") Nimi
      input.border-b-2.ml-2(type="text" name="name")

    div.my-2
      label(for="email") E-mail
      input.border-b-2.ml-2(type="email" name="email")

    div.my-2
      label(for="phone") Telefon
      input.border-b-2.ml-2(type="tel" name="phone")

    div.my-2
      label(for="id-code") Isikukood
      input.border-b-2.ml-2(type="text" name="id-code" inputmode="decimal")

      input.block.mt-4.p-1.rounded.bg-transparent.border.border-gray-500(type="submit" value="Salvesta")
