extends layout

block content
  h2.text-xl.mb-8 Tere tulemast!
  a(href="/add-member" class="hover:underline").mb-2.block + Uus liige
  a(href="/add-bill" class="hover:underline").mb-2.block + Uus arve
