doctype html
html(lang="et")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title= `${title} | Maksuamet`
    link(href="./styles/styles.css", rel="stylesheet")
  body
    block header
      .flex
        a.mr-8(href="/") Maksuamet
        ul.flex
          li.mr-2
            a(href="/members") Liikmed
          li.mr-2
            a(href="/add-member") Lisa uus liige
    block content
      p Default content
